################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PersonalCV/document.pdf
/PersonalCV/document.synctex.gz
